:root{
    --name-color: #212121;
    --text-imformation: #757575;
    --background-color-section-hero: #FFFFFF;
    --button-logo-nav: #2196F3;
    --logo-name: #000000;
--background-hero-section-two: #2F303A;
--footer-text-section: FFFFFF;
--background-color-header: #ECECEC;
--sections: #F5F4FA;
}